<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body style="padding-top: 70px; padding-bottom: 50px">


<div th:replace="guest/fragments/header :: header"></div>

<div class="container align-middle h-100 w-100" style="overflow-y: auto">
    <div th:replace="fragments/messages :: messages"></div>

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Andrey Andreev(62173)</h1>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>